
$home-visit-slick-card-width: 295px;

$font-size-title-max-width-575: 25px;
$font-size-info-max-width-575: 16px;
$font-size-title-min-width-576-max-width-992: 25px;
$font-size-info-min-width-576-max-width-992: 16px;
$font-size-title-min-width-993-max-width-1200: 30px;

$info-margin-left: 5vw;
$negative-margin-left-right: -20px;

$health-resource-glass-container-width: 80vw;
$doctor-video-border-radius: 10px;

