$color-text-primary-black: #202020;
$color-text-primary-blue: #56a9ea;
$color-text-secondary-black: #4a4a4a;
$color-text-primary-grey: #8e8e8e;
$color-primary-teal-green: #4CE1C6;
$color-primary-blue: #567fea;
$color-red: #ed5749;
$color-red-2: #ED4C4C;

//region Place holder for real color code
$color-black: #000000;
$color-gray-1: #191919;
$color-gray-2: #323232;
$color-gray-3: #4c4c4c;
$color-gray-4: #666666;
$color-gray-5: #7f7f7f;
$color-gray-6: #999999;
$color-gray-7: #b2b2b2;
$color-gray-8: #cccccc;
$color-gray-9: #e5e5e5;
$color-white: #ffffff;
//endregion

$color-primary-blue-darker: #0069d9;

// another variables
$modalzIndex: 1050;
